<%= render "nav" %>


<div class='form'>
  <h2>Edit profile</h2>

<%= form_for @current_user do |f| %>
<table class='edit_form'>
  <tr>
    <td><%= f.text_field :username, placeholder: "Screen name" %> </td>
  </tr>

  <tr>
    <td><%= f.text_field :email, placeholder: "Email" %></td>
  </tr>

  <tr>
    <td><%= f.password_field :password, placeholder: "Confirm password"%></td>
  </tr>

  <tr>
    <td class='confirm'>
      <%= f.submit "Update profile" %>
    </td>
  </tr>
</table>  
<% end %>

</div>
