<%= render 'nav' %>

<div class="container">

  <ul class='all_products'>
  <% @products.order('created_at DESC').each do |product| %>

      <li>
        <img src="<%= product.image %>" />
        <a href="<%= product.url %>">
        <%= product.brand %> <%= product.name %>
        </a> | <%= product.price %>
        <% if product.price.delete('$').to_i < 15 %>
          <div class="steal">&nbsp; STEAL!</div>
        <% end %>
      </li>

  <% end %>
  </ul>


</div>
