<!DOCTYPE html>
<html>
<head>
  <title>Vintage50</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link href='//fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>

<body>
<%= render 'layouts/nav' %>

<div class="modal">
  <div class="close">x</div>
  <div class="content"></div>	
</div>

<div class="global-overlay"></div>

<%= yield %>

</body>
</html>
